.building {
    padding-top: 50px;
    height: 753px;
    background: #67BC9E;
    &-wrapper {
        display: flex;
        justify-content: center;
    }
    &-start {
        position:relative;
        min-width: 450px;
        &__img {
            position: absolute;
            left: 0;
            top: -70px;
        }
        &__text {
            color: #fff;
            font-family: Lato;
            font-size: 30px;
            font-weight: 400;
            line-height: 36px;
            padding-top: 323px;

        }
    }
    &-end {
        position: relative;
        padding-left: 20px;
        display: flex;
        justify-content: flex-end;
        
        flex-wrap: wrap;
        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 1px;
            height: 650px;
            background: #fff;


        }
        &-item {
            display: flex;
            justify-content: center;
            padding: 10px 0;
            &-start {
                color: #fff;
                font-weight: 600;
                font-size: 16px;
                min-width: 210px;
                text-align: center;
                &__img {width: 100%;
                }
            }
        }
        &-second {
            color: #fff;
            font-weight: 300;
            font-size: 17px;
            padding: 2px 5px;
            margin-left: 85px;
            
        }
    }
}

@media(max-width:1200px) {
    .building-end-second {
        margin-left: 0;
    }
}

@media(max-width:992px) {
    .building-start {
        display: none;
    }
}

@media(max-width:576px){
    .building-end-item-start{
        min-width: 100px;
        font-weight: 300;
        font-size: 10px;
    }
    
    .building-end-second{
        font-size: 10px;
        width: 200px;
    }
    .building-end {
        justify-content: center;
    }
}