.clinic {
    background: #E5E5E5;
    padding: 50px 0;
    &-start {
        max-width: 458px;
        &__title {
            font-size: 30px;
            padding-bottom: 50px;

        }
        &__subtitle {
            font-weight: 300;
            font-size: 20px;
            padding-bottom: 20px;
        }
    }
}