.header {
    position: relative;
    background: #E5E5E5;
    text-transform: uppercase;
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background:  #EDEDED;
        top: 67px;
        left: 0;
    }
    &-burger {
        display: none;
    }
   &-top {
       padding: 14px 0;
       display: flex;
       justify-content: space-between;
       align-items: center;
    
       &-logo {
           flex-grow: 1;
       }
       &-main {
           position: relative;
           font-size: 12px;
           flex-grow: 2;
           display: flex;
           justify-content: space-between;
           &__time{
            &::before {
               
                position: absolute;
                content: url('/assets/img/logo/phone.png');
                width: 20px;
                height: 20px;
                left: -20px;
                top: 0;
            }
           }
           &__adress {
             position: relative;
            &::before {
               
                position: absolute;
                content: url('/assets/img/logo/phone.png');
                width: 20px;
                height: 20px;
                left: -20px;
                top: 0;

            }
           }
           
       }
       &-call {
           display: flex;
           justify-content: space-between;
           
           &__popup {
                padding-bottom: 2px;
               border-bottom: 1px dashed black;
               cursor: pointer;
               &:hover {
                border-bottom: none;
               }
           }
           &__number {
            display: block;
               position: relative;
            //    fill: black;
               color: black;
               margin-left: 40px;
               text-decoration: none;
               font-size: 20px;
               line-height: 14px;
               &::before {
                   position: absolute;
                   content: url('/assets/img/logo/phone.svg');
                   width: 20px;
                   height: 20px;
                   left: -20px;

               }
                
           }
       }
   }
   &-sub {
       display: flex;
       justify-content: space-between;
       align-items: center;
    &-btn {
       text-transform: uppercase;
       font-size: 11px;
       padding: 19px 41px;
       line-height: 13px;
       cursor: pointer;
       border: none;
       transition: all 0.3s;
       &:active {
           border: none;
           outline: none;
       }
       &:hover {
           background-color: #67BC9E;
       }
      
    // //    width: 187px;
    //    height: 51px;
       text-align: center;
       background-color: #F39035;
       color: #fff;
       outline:none;
    }
       &-nav {
           &-items {
               display: flex;
               justify-content: space-between;
               padding-left: 0;
               &__item {
                   list-style: none;
                //    padding: 10px 0;
               
               
               }
               &__item+&__item {
                padding-left: 25px;
            }
               &__link {
                   display: block;
                   text-decoration: none;
                   font-size: 13px;
                   line-height: 13px;
                   color: black;
                   transition: all 0.1s;
                &.is-active {
                    color: #67BC9E;
                }
                &:hover {
                    transform: scale(1.1);
                }
               }
               
           }
       }
   }
}
.header-top-logo__small{
    display: none;
}

@media(max-width:992px){
    .header-top{
        padding:  14px 20px;
    }
    .header-sub {
        padding: 0 10px;
    }
    .header-top-main__time{
        display: none;
       
    }
    .header-top-main__adress{
        display: none;
    }
    .header-top-main {
        flex-grow: 0;
    }
    .header-sub-btn {
        font-size: 9px;
        padding: 20px 10px;
    }
    .header-sub-nav-items__link{
        font-size: 9px;
        
    }
    .header-sub-nav-items{
        padding-left:20px;
    }
}

@media(max-width:768px){
    .header-sub {
        display: none;
    }
    .header-burger {
        display: block;
        z-index: 10;
        position: absolute;
        top: 5;
        right: 10px;
        width: 30px;
        height: 20px;
        &::before, &::after {
            content: "";
            position: absolute;
            background-color: black;
            width: 100%;
            height: 2px;
            right: 0;

        }
        &::before {
            top: 0px;
        }
        &::after{
            bottom: 1px;
        }
        & span {
            background-color: black;
            position: absolute;
            right: 0;
            width: 100%;
            height: 2px;
            top: 9px;
        }
       
    }
    .header-top-call__number{
        margin-right: 30px;
    }

}

@media(max-width:576px){
    .header-top-logo__big {
        display: none;
        
    }
    .header-top-logo__small{
        display: block;
    }
    .header-top-call__popup{
        font-size: 10px;
    }
    .header-top-call__number{
        font-size: 10px;
        margin-left: 10px;
        &::before {
            content: none;
            
        }
    }
}