.items {
    padding: 50px 0;
    
    &-end {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        
        &-block {
            width: 300px;
            
            &__img {
                width: 100%;
            }
            &__text {
                font-weight: 300;
                font-size: 15px;
                text-align: center;
            }
        }
    }
}