*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
  }
body {
    font-family: 'Lato';
    font-weight: 400;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
}

@import 'header.scss';
@import 'swiper.scss';
@import 'clients.scss';
@import 'order.scss';
@import 'reception.scss';
@import 'reviews.scss';
@import 'clinic.scss';
@import 'items.scss';
@import 'maindoc.scss';
@import 'prof.scss';
@import 'building.scss';
@import 'fullscreen.scss';
@import 'footer.scss';
@import 'popup.scss';