.maindoc {
    background-color:#E5E5E5;
    padding-top: 50px;
    &-items {
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        &-start {
            max-width: 720px;
            padding-left: 30px;
            padding-top: 50px;
            &__title {
                display: block;
                position: relative;
                color: #67BC9E;
                padding-left: 90px;
                text-transform: uppercase;
                font-size: 15px;
                font-weight: 300;
                line-height: 36px;
                &::before {
                    content: '';
                    position: absolute;
                    width: 60px;
                    height: 5px;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0%;
                    background: #67BC9E;
                }
            }
            &__text {
                max-width: 555px;
                font-size: 24px;
                padding: 50px 0;
                font-weight: 300;
                line-height: 36px;


            }
            
        }
        &-end {
            position: relative;
            
            &::before{
                z-index: 0;
                position: absolute;
                content: '';
                width: 200px;
                height: 200px;
                background:#E5E5E5;
                top: 0;
                right: 20%;
                // transform: translateX(100%);
                transform:skewX(-35deg)
            }
            &__img {
                position: relative;
                z-index: 2;
                width: 100%;
               
                
            }
        }
    }
}

@media(max-width:768px){
    .maindoc-items-start{
        width: 100%;
    }
    .maindoc-items-start__text {
        width: 100%;
    }
    .maindoc-items-end{
        display: none;
    }
    }