.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: .7);
    // display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    &-content {
        position: relative;
        background: #67BC9E;
      
    }
}
.close {
    position: absolute;
    top: 0;
    right: 10%;
    width: 20px;
    height: 20px;
    background-color: #000;
}