.reception {
    background: #E5E5E5;
    padding: 50px 0;
    
    &-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-start {
        
        padding: 120px 0;
        &-wrapper {
            max-width: 457px;
        }
       &__title {
           
           font-size: 20px;
       }
       &__subtitle {
           font-size: 20px;
           color: #67BC9E;
           padding-bottom: 20px;
       }
       &__desc {
           font-weight: 300;
           font-size: 15px;
           
       }
    }
    &-mid {
        position: relative;
        max-width: 555px;
        
        &__img {
            width: 100%;
            height: 100%;
        }
        &::before {
            position: absolute;
            content: url('../assets/img/logo/play.svg');
            padding: 18px;
            border-radius: 100%;
            transform: translateY(-50%);
            cursor: pointer;
            background: rgba($color: #F39035, $alpha: .8);
            top: 50%;
            left: 50%;
            
            // &:hover{
            //     background: rgba($color: black, $alpha: 1.0);

            // }
        }
    }
    &-form{
       display: flex;
       align-items: center;
       justify-content: center ;
       flex-wrap: wrap;
        margin-top: 50px;
       &__title {
           text-align: center;
           padding: 30px;
           font-size: 30px;
           font-weight: 900;
       }
        &__input {
            width: 360px;
            max-height: 53px;
            padding: 10px;
            border: 1px solid #67BC9E;;
            border-radius: 20px;
            margin: 10px;
            &:focus {
                border: 1px solid #F39035;;
                outline: none;
            }
        }
        &-btn{
            
            width: 330px;
            max-height: 38px;
            border-radius: 40px;
            text-transform: uppercase;
            background: #67BC9E;
            padding: 10px;
            color: #fff;
            border: none;
            outline: none;
            cursor: pointer;
            // overflow: hidden;
            
    }
   

    }
}

.checkbox-wrapper {
    flex-grow: 2;
    margin-top: 30px;
    text-align: center;
    align-items: center;
    font-size: 14px;
}
.checkbox {
    display: none;
}
.reception-form-checkbox {
    cursor: pointer;
}
.reception-form-checkbox-item {
    position: relative;
    top: 5px;
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 4px;
    border: 1px solid #67BC9E;
    &::before {
        position: absolute;
        content: url('../assets/img/logo/checbox.svg');
        top: 50%;
        left: 50%;
        
        transform: translate(-50%, -50%);
        opacity: 0;
    }
}


.checkbox:checked + .reception-form-checkbox-item::before{
    opacity: 1;
}

@media(max-width:576px){
    .reception-start {
        width: 100%;
    }
    .reception-mid{
        display: none;
    }
}