.reviews {
    padding: 30px 0;
    &-title {
        text-align: center;
        padding: 20px;
    }
}

.swiper-reviews-slide {
    &-start {
        &--vid{
            position: relative;
            &::before{
                position: absolute;
                content: url('../assets/img/logo/play.svg');
                padding: 10px 15px;
                cursor: pointer;
                top: 50%;
                left: 50%;
                width: 40px;
                height: 40px;
                background: #F39035;
                border-radius: 100%;
                transform: translate(-50%,-50%);

            }
        }
        &__img {
            display: block;
            width: 100%;
        }
    }
    &-end {
        &__name {
            font-size: 18px;
            font-weight: 600;
            padding: 10px 0;
        }
        &__order {
            display: flex;
            justify-content: space-between;
            font-size: 15px;
            font-weight: 300;
           
        }
    }
   
}
    
