.swiper-first-container {
    width: 100%;
   cursor: pointer;
    margin: 0 auto;
   
}


.swiper-first-slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .3s;
    &-start{
        position: relative;
        padding-left: 150px;
        // height: 100%;
        text-align: start;
        width: 50%;
        &__title {
            font-weight: 600;
            font-size: 24px;
            text-transform: uppercase;
        }
        &__subtitle {
            font-weight: 900;
            color: #F39035;
            font-size: 41px;
            & span {
                color: black;
                font-weight: 900;
                font-size: 24px;
            }

        }
        &__desc {
            display: block;
            font-size: 20px;
            width: 80%;
            
        }
    }

    &-end {
        width: 50%;
        // height: 350px;
        &__img {
            display: block;
            // height: 100%;
            width: 100%;
            
        }
    }
}
.btn-swiper-first {
    text-transform: uppercase;
    display: block;
    cursor: not-allowed;
    position: absolute;
    top: 100%;
    transform: translateY(100%);
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 30px;
    z-index: 3;
}

.swiper-button-prev {
    
    // background-color: blue;
    // padding: 20px;
    top: 50%;
    transform: translateY(50%);
}
.swiper-button-next {
    top: 50%;
    transform: translateY(50%);
    
}

@media(max-width:1252px){
    .swiper-slide-start{
        &__title {
            font-size: 18px;
        }
        &__subtitle {
            font-size: 20px;
            & span {
                font-weight: 600;
                font-size: 18px;
            }
        }
        &__desc {
            font-size: 10px;
        }
    }
}
// @media(max-width:768px){
//     .swiper-slide-start {
//         padding-left: 10%;
//     }


@media(max-width:976px){
    .btn-swiper-first {
        font-size: 10px;
        padding: 5px 20px;
    }
    }

@media(max-width:768px){
    .swiper-slide-start{
        padding-left: 10%;
        &__title {
            font-size: 8px;
        }
        &__subtitle {
            font-size: 10px;
            & span {
                font-weight: 600;
                font-size: 8px;
            }
        }
        &__desc {
            font-size: 8px;
        }
    }
    .swiper-button-next {
        display: none;
    }
    .swiper-button-prev {
        display: none;
    }
    .btn-swiper-first {
        font-size: 5px;
        top: 80%;
        transform: translateY(100%);
        padding: 2px 10px;
    }
}

